{% extends 'base_main.html' %}
{% load static %}
{% block ex_css %}
    <link rel="stylesheet" href="{% static 'css/create_purchase_order.css' %}">
{% endblock %}

{% block ex_js %}
    <script type="text/javascript" src="{% static 'js/create_purchase_order.js' %}"></script>
{% endblock %}

{% block header %}
    <nav class="col-md-1  navbar navbar-default" id="main_navigate">
        <div class="container-fluid">
            <ul class="nav nav-pills nav-stacked">
                <!-- 这里的active属性就是使得所在的li的背景色变为蓝色-->
                <li class="active"><a href="/purchase/">进货管理</a></li>
                <li><a href="/sales/">销售管理</a></li>
                <li><a href="/storage/">库存管理</a></li>
                <li><a href="/report/">报表管理</a></li>
                <li><a href="/info/">基本资料</a></li>
                <li><a href="/system/">系统维护</a></li>
            </ul>
        </div>
    </nav>

{% endblock %}

{% block body %}
    <section class="col-md-10" id="add_order">
        <form class="form-inline" action="/show_pur_order/" method="post">
            <div class="form-group">
                <label for="location">地区：</label>
                <input type="text" class="form-control" name="location" id="location" placeholder="请输入地区">
            </div>
            <div class="form-group">
                <label for="cust_name">　客户姓名：</label>
                <select class="form-control" id="cust_name" name="cust_name">
                    {% for foo in cust_info %}
                        <option name="{{ foo.id }}">{{ foo.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="text" style="display: none" value="{{ cust_info.0.id }}" id="secret_cust_id" name="cust_id">
            <div class="form-group">
                <label for="pre_date">　预计完成日期：</label>
                <input type="date" class="form-control" id="pre_date" placeholder="请输入预计完成日期" name="pre_date">
            </div>
            <div class="form-group">
                <label for="handle">　经手人：</label>
                <select class="form-control" id="handle" name="handle">
                    {% for usr in user_info %}
                        <option>{{ usr }}</option>
                    {% endfor %}
                </select>
            </div>
            　　
            <button type="submit" class="btn btn-primary">创建</button>
        </form>
    </section>

    <section class="col-md-9" id="order">
        <table class="table table-striped" id="pur_order">
            <thead>
            <th width="10%">订单编号</th>
            <th width="10%">地区</th>
            <th width="10%">客户姓名</th>
            <th width="10%">折扣 %</th>
            <th width="10%">金额</th>
            <th width="20%">预计完成时间</th>
            <th width="10%">经手人</th>
            <th width="20%">操作</th>
            </thead>
            <tbody>
            {% for order in pur_orders %}
                <tr name="order_{{ order.id }}">
                    <td>{{ order.id }}</td>
                    <td>{{ order.pur_location_name }}</td>
                    <td>{{ order.pur_cust_name }}</td>
                    <td>{{ order.cust_id.cust_rebate }}</td>
                    <td>{{ order.pur_price|floatformat:'2' }}</td>
                    <td>{{ order.pur_modify_date }}</td>
                    <td>{{ order.pur_handle }}</td>
                    <td><a name="order_{{ order.id }}" class="modify_order"
                           href="/edit_pur_order/?ord_id={{ order.id }}">修改</a>　|　<span
                            name="order_{{ order.id }}" class="del_order">删除</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>




{% endblock %}