{% extends 'base_main.html' %}
{% load static %}

{% block header %}
    <nav class="col-md-1  navbar navbar-default" id="main_navigate">
        <div class="container-fluid">
            <ul class="nav nav-pills nav-stacked">
                <!-- 这里的active属性就是使得所在的li的背景色变为蓝色-->
                <li class="active"><a href="/purchase/">进货管理</a></li>
                <li><a href="/sales/">销售管理</a></li>
                <li><a href="/storage/">库存管理</a></li>
                <li><a href="/report/">报表管理</a></li>
                <li><a href="/info/">基本资料</a></li>
                <li><a href="/system/">系统维护</a></li>
            </ul>
        </div>
    </nav>

    <div class="col-md-9" id="main_content1 main_menu">
        <ul>
            <a href="/purchase/show_pur_order/">
                <li class="col-md-2"><img src="{% static 'img/icon.jpg' %}" alt="" class="img-circle"></br>
                    <span>订单管理</span></li>
            </a>
            <a href="">
                <li class="col-md-2"><img src="{% static 'img/icon.jpg' %}" alt="" class="img-circle"></br>
                    <span>成品入库</span></li>
            </a>
            <a href="">
                <li class="col-md-2"><img src="{% static 'img/icon.jpg' %}" alt="" class="img-circle"></br>
                    <span>半成品入库</span></li>
            </a>
        </ul>
    </div>

    <div class="col-md-9" id="main_content2 main_menu">
        <ul>
            <a href="/purchase/query_purchase/">
                <li class="col-md-2"><img src="{% static 'img/icon.jpg' %}" alt="" class="img-circle"></br>
                    <span>订单查询</span></li>
            </a>
        </ul>

    </div>
{% endblock %}